<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find recon_surface)/config/general.config"/>
	<rosparam file="$(find recon_surface)/config/basic_recon_v4_ufmg.yaml" command="load" ns="" subst_value="true"/>
	<node name="p_normal_node" pkg="recon_surface" type="p_normal_service" respawn="false" output="screen"/>
</launch>